 body{
    background-color: rgb(253, 253, 253);
    font-family: Nizar Cocon Kurdish;
  }
  
  input {
    font-family: Nizar Cocon Kurdish;
  }
  
  select {
    font-family: Nizar Cocon Kurdish;
  
  }
  
  form {
    position: inherit;
    border: 10px solid rgb(196, 182, 182);
    padding: 40px;
    /*margin: 100px 100px 100px 550px;
                  margin-left: 200px;*/
    width: 600px;
    height: 850px;
    background-color: rgb(182, 46, 73);
    border-radius: 70px;
    font-family: Nizar Cocon Kurdish;
    margin-left: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  label {
    color: white;
    font-family: Nizar Cocon Kurdish;
    text-align: left;
    /padding-left: 80px;/
    /*  margin-left: 10px;*/
    font-size: 24px;
  }
  
  h1 {
    position: relative;
    padding: 0px 150px 10px 150px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(196, 182, 182);
  }
  
  option {
    position: relative;
    background-color: rgb(196, 182, 182);
    font-size: 17px;
    margin-left: 80px;
    text-shadow: 10px;
  }
  
  #level_Select {
    position: relative;
    background-color: rgb(196, 182, 182);
    font-size: 20px;
    margin-left: 105px;
    width: 125px;
    height: 26px;
    font-family: Nizar Cocon Kurdish;
    color: rgb(81, 66, 66);
    text-align: left;
  }
  
  #status_Select {
    position: relative;
    background-color: rgb(196, 182, 182);
    font-size: 20px;
    margin-left: 94px;
    width: 125px;
    height: 26px;
    font-family: Nizar Cocon Kurdish;
    color: rgb(81, 66, 66);
    text-align: left;
  }
  
  #dept_Select {
    position: relative;
    background-color: rgb(196, 182, 182);
    font-size: 20px;
    margin-left: 38px;
    width: 125px;
    height: 26px;
    font-family: Nizar Cocon Kurdish;
    color: rgb(81, 66, 66);
    text-align: left;
  }
  
  #m {
    font-size: 20px;
    padding: auto;
    color: black;
    /margin-left:-80px ;/
  }
  
  input {
    position: relative;
    background-color: rgb(196, 182, 182);
    font-size: 17px;
    margin-left: 100px;
    font-family: Nizar Cocon Kurdish;
   
  }
  
  li {
    font-size: 20px;
    color: rgb(196, 182, 182);
  }
  
  p {
    font-size: 20px;
    color: black;
    padding-left: 30px;
  }
  
  #S_ID {
    position: relative;
    background-color: rgb(196, 182, 182);
    font-size: 17px;
    margin-left: 135px;
  }
  
  #S_Name {
    position: relative;
    background-color: rgb(196, 182, 182);
    font-size: 17px;
    margin-left: 100px;
  }
  
  #S_Date {
    position: relative;
    background-color: rgb(196, 182, 182);
    font-size: 17px;
    margin-left: 60px;
    width: 184px;
  }
  
  #S_Uni {
    position: relative;
    background-color: rgb(196, 182, 182);
    font-size: 17px;
    margin-left: 55px;
  }
  
  #course_properity {
    margin-left: 71px;
  }
  
  #reset_button,
  #submit_button {
    position: static;
    background-color: rgb(196, 182, 182);
    font-size: 25px;
    margin-left: 200px;
    width: 175px;
    height: 40px;
    font-family: Nizar Cocon Kurdish;
    color: rgb(182, 46, 73);
    text-align: center;
    border-radius: 15px;
    margin: 5px;
  }
  
  #reset_button {
    margin-left: 120px;
  }
  
  #reset_button:hover,
  #submit_button:hover {
    background-color: white;
  }
  
  #label_wel {
    text-align: center;
    margin-left: 400px;
    margin-top: 410px;
    font-size: 50px;
    font-family: Nizar Cocon Kurdish;
    color: black;
  }
  
  .updateDiv span{
    color: red;
  }
  
  .updateDiv span i {
    color: seagreen;
  }